.button{
    width: 170px;
    height: 40px;
    background-color: rgb(146, 231, 109);
    border-radius: 20px;
    border: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}