.teacher{
    width: 1170px;
    margin: 0 auto;
    padding: 0px 20px;
    display: flex;
}

.teacher__right{
    max-width: 200px;
    border-right: 2px solid rgb(234, 231, 231);
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-right: 10px;
    padding-top: 15px;

    .teacher__right__item{
        cursor: pointer; 
        height: 45px;
        white-space: nowrap; /* Забороняємо тексту переходити на новий рядок */
        overflow: hidden;     /* Приховуємо текст, який виходить за межі блоку */
        text-overflow: ellipsis; /* Відображаємо троє крапок для обрізаного тексту */ 
        padding: 15px;    
        display: flex;  
        align-items: center;

        &:hover{
            border: 2px solid rgb(234, 231, 231);
            border-radius: 10px;
        }
    }
}


.teacher__left{
    width: 100%;
    padding: 20px;
}


.teacher__arrow{
    align-self: flex-start;
    font-size: 20px;
    cursor: pointer;
}


.select{
    width: 200px;
    height: 45px;
    font-size: 16px;
    margin-bottom: 30px;

    &:hover{
        cursor: pointer;
    }
}

.groupName__block{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.groupName__block__title{
    font-size: 20px;
    margin-bottom: 30px;
}

.groupName__block__text{
    font-size: 18px;
    font-family: sans-serif;
    border-bottom: 2px solid rgb(234, 231, 231);
    padding-bottom: 20px;
}

.teacher__title{
    font-size: 24px;
    margin-bottom: 30px;
}

.homework__block{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid rgb(234, 231, 231);
    padding-bottom: 20px;
    cursor: pointer;
}

.homework__block__item{
    font-size: 20px;  
}

.homework__lesson{
    width: 30px;
}

.homework__name{
    width: 300px;
}

.homework__data__block{
    margin-top: 30px;
}

.reaction__text{
    margin-bottom: 30px;
}

.teacher__hm__button{
    width: 170px;
    height: 40px;
    background-color: rgb(146, 231, 109);
    border-radius: 20px;
    border: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 30px;

    &:hover{
        background-color: white;
        color: rgb(146, 231, 109);
        border: 2px solid rgb(146, 231, 109);
    }
}